// Colores

$primary: #27495b;
$secondary: #00ac56; // Cambiar
$warning: #ef4a50;
$dark: #1e2b3d;
$color: #3f526d;
$light: #f3f3f3;

$navbar-color: $dark;

$footer-background-color: $primary;
$footer-color: #ffffff;
$border-radius: 25px;

@import "ember-bootstrap/bootstrap";

body {
    color: $color !important;
}

.row, #slider {
    padding: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

// Mayor margen en pantallas grandes
@include media-breakpoint-up(sm) {
    .row, #slider {
        padding: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

#slider {
    width: 100%;
    height: 160vw;
    margin: 0;
}

@include media-breakpoint-up(sm) {
    #slider {
        width: 100%;
        height: 60vw;
    }
}

// Footer

#footer {
    background-color: $footer-background-color;
    color: $footer-color;
    padding-bottom: 40px;
    line-height: 26px;
}

#footer img {
    opacity: 1;
}

#footer .logo {
    margin-right: 0px;
}

#footer a {
    color: $footer-color;;
}

#footer i {
    width: 14px;
}

// Tab previo, durante, despues
.tab-pdd {
    button {
        width: 90%;
        height: 4rem;
    }
}

@include media-breakpoint-up(sm) {
    .tab-pdd {
        button {
            height: 6rem;
        }
    }
}



// Font awesome
i {
    margin-left: 5px;
    margin-right: 5px;
}

// Otros
.wrap-inherit {
    white-space: inherit;
}

.bg-light {
    background-color: $light;
}

.btn-lg {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 10px;
    border-radius: 25px;
}

// Reset scroll

// Se mantiene arriba de la pantalla
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 100px;
    z-index: 1000;
    opacity: 1;
}

.sticky + .content {
    padding-top: 200px;
}

@include media-breakpoint-up(sm) {
    .sticky {
        position: unset;
        top: unset;
        width: unset;
        margin-top: unset;
        z-index: unset;
        opacity: unset;
    }
    .sticky + .content {
        padding-top: 0;
    }
}