<div class="row bg-white">
    <div class="col-12 d-block d-md-flex py-2 text-center text-md-left">
        <img src="img/iconos/i-calendario.png" alt="Elecciones" height="100px">
        <div class="my-auto py-auto">
            <h4 class="ml-4 font-weight-bold">Después de Elecciones</h4>
        </div>
    </div>
</div>
{{display-rules rules=model}}
{{!-- Marca el boton a color verde --}}
<script>
    // Limpia los botones
    $('.tab-pdd .btn ').removeClass('bg-secondary btn-secondary');
    $('.tab-pdd .btn ').addClass('bg-white');
    $('.tab-pdd .btn .white').removeClass('d-inline');
    $('.tab-pdd .btn .color').removeClass('d-none');
    // Marca el boton
    $('.tab-pdd .btn.despues').removeClass('bg-white');
    $('.tab-pdd .btn.despues').addClass('bg-secondary btn-secondary');
    $('.tab-pdd .btn.despues .white').addClass('d-inline');
    $('.tab-pdd .btn.despues .color').addClass('d-none');
</script>
