<div class="row bg-white">
    <div class="col-12 d-block d-md-flex py-2 border border-top-0 border-left-0 border-right-0 text-center text-md-left">
        <img src="img/iconos/i-previo.png" alt="Elecciones" height="100px">
        <div class="my-auto py-auto">
            <h4 class="ml-4">Durante Convocatoria</h4>
            <h5 class="ml-4 text-secondary font-weight-normal">Del 2 de mayo al -</h5>
        </div>
    </div>
</div>
{{display-rules rules=model}}