{{partial 'navbar'}}

{{outlet}}

{{partial 'footer'}}

<div id="whatsapp-widget">
  <a href="https://wa.me/50254925115/?text=%23SemaforoElectoral%20Quiero%20reportar%20" target="_blank">
    <img src="img/iconos/whatsapp.svg" alt="RedXGuate" height="35px" width="35px">
  </a>
</div>
