{{partial 'navbar'}}

{{outlet}}

{{partial 'footer'}}

<div id="whatsapp-widget">
  <a href="https://wa.me/send?phone=502 5492 5115&text=%23SemaforoElectoral Quiero reportar" target="_blank">
    <img src="img/iconos/whatsapp.svg" alt="RedXGuate" height="35px" width="35px">
  </a>
</div>
