<!-- Footer
============================================= -->

<!-- footer-area-start -->
<footer>
  <div class="footer-middle-area pt-80" style="background:#27495B;   ">
    <div class="container">
      <div class="row p-0" style="justify-content:space-between">
        <div class="col-xl-4 col-lg-4 col-md-4">
          <div class="footer-wrapper mb-30">
            <div class="footer-logo">
              <a target="_blank" href="https://redciudadana.org/"><img src="/img/LOGO-RED_BLANCO.png" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-9">
          <div class="d-flex align-items-center justify-content-end">
            <a target="_blank" style="margin:0 3px" href="https://www.facebook.com/Redciudadanagt"><img src="/img/REDES-27.png" style="height:45px"></a>
            <a target="_blank" style="margin:0 3px" href="https://twitter.com/redxguate"><img src="/img/REDES-28.png" style="height:45px"></a>
            <a target="_blank" style="margin:0 3px" href="https://www.instagram.com/redxguate/"><img src="/img/REDES-29.png" style="height:45px"></a>
            <a target="_blank" style="margin:0 3px" href="https://www.youtube.com/channel/UCQwc62j7beStZYFzwPxBEQg"><img src="/img/REDES-30.png" style="height:45px"></a>
          </div>
        </div>
      </div>
      <div class="row mt-40 mb-40 p-0 py-4">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div style="border-bottom:1px solid #FFF"></div>
        </div>
      </div>
      <div class="footer-bottom-area pt-25 mt-45" style="border-top:none">
        <div class="row">
          <div class="col-xl-12">
            <div class="copyright text-center">
              <a href="https://redciudadana.org/"><p style="color:#fff!important"><!--i class="far fa-copyright"></i> 2020 <a href="#">Fundee.</a--> Asociación Civil Red Ciudadana</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer-area-end -->
