<div id="footer" class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 text-center text-md-left my-2 m-md-0">
        <h6>Ayúdanos a llegar a más personas</h6>
        <ul class="list-unstyled">
          <li><a href="http://donacion.redciudadana.org/" target="_blank" rel="noopener noreferrer external"><i class="fa fa-heart"></i> Donaciones</a></li>
          <li><a href="http://voluntarios.redciudadana.org/" target="_blank" rel="noopener noreferrer external"><i class="fa fa-users"></i> Voluntariado</a></li>
        </ul>
      </div>

      <div class="col-12 col-sm-4 text-center my-2 m-md-0">
        <h6>Desarrollado por:</h6>
        <a href="http://www.redciudadana.org/" target="_blank" rel="noopener noreferrer external author">
          <img class="logo" src="img/logo-red-blanco.png" alt="Red Ciudadana" title="Red Ciudadana">
        </a>
      </div>

      <div class="col-12 col-sm-4 text-center text-md-left my-2 m-md-0 ">
        <h6>Contáctanos</h6>
        <ul class="list-unstyled">
          <li>
            <a href="mailto:info@redciudadana.org.gt" target="_top" rel="noopener noreferrer external">
              <i class="fa fa-map-marker"></i> Dirección: <span class="font-weight-light">Guatemala, Ciudad</span>
            </a>
          </li>
          <li>
            <a href="mailto:info@redciudadana.org.gt" target="_top" rel="noopener noreferrer external">
              <i class="fa fa-envelope"></i> Correo electrónico: <span class="font-weight-light">info@redciudadana.org</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
