{{!-- Slider --}}
{{!-- En pantalla pequeña --}}
<div id="slider" style="background-image: url('img/slider-se-phone.jpg'); background-size: contain;" class="d-block d-md-none text-center">
  <h2 class="font-weight-bold">Semáforo electoral 2018</h2>
  <p>Campañas limpias y reglas parejas para que todos enriquecen las elecciones. No dejemos que se ensucie nuestra democracia; fiscalicemos entre todos las campañas electorales.</p>
  <button class="btn btn-secondary text-white my-2 px-4">Más información</button>
</div>
{{!-- En pantalla grande --}}
<div id="slider" style="background-image: url('img/slider-se.jpg'); background-size: contain;" class="d-none d-md-block">
  <h2 class="font-weight-bold">Semáforo electoral 2018</h2>
  <p class="w-50">Campañas limpias y reglas parejas para que todos enriquecen las elecciones. No dejemos que se ensucie nuestra democracia; fiscalicemos entre todos las campañas electorales.</p>
  <button class="btn btn-secondary text-white my-2 px-4">Más información</button>
</div>

<div class="container-fluid">
    {{!-- Se parte del semáforo electoral --}}
    <div class="row bg-primary text-white">
        <div class="col-sm-6 text-center text-sm-left">
            <h4 class="font-weight-bold">¡Sé parte del semáforo electoral!</h4>
            <p class="font-weight-light text-justify">
              La transparencia en nuestras elecciones es la base de la calidad de nuestra democracia. En semáforo electoral damos luz verde a la buena democracia e invitamos a frenar las irregularidades a través de denuncias ciudadanas.
            </p>
        </div>
        <div class="col-sm-6 text-center">
            <a href="/#report"><button class="btn btn-warning text-white my-5 px-4">¿Cómo denunciar?</button></a>
        </div>
    </div>
    {{!-- Tab-pdd --}}
    <div class="row bg-light tab-pdd text-center">
      <div class="col-md-4 py-2">
        {{#link-to 'index'}}
          <button class="btn bg-white wrap-inherit previo">
            <img src="img/iconos/i-previo.png" alt="Previo al fin de inscripción de candidatos" height="50px">
            <p>Previo al fin de inscripción de candidatos</p>
          </button>
        {{/link-to}}
      </div>

      <div class="col-md-4 py-2">
        {{#link-to 'index.durante'}}
          <button class="btn bg-white wrap-inherit durante">
            <img src="img/iconos/i-durante.png" alt="Durante las elecciones" height="50px">
            <p>Durante Convocatoria</p>
          </button>
        {{/link-to}}
      </div>

      <div class="col-md-4 py-2">
        {{#link-to 'index.despues'}}
          <button class="btn bg-white wrap-inherit despues">
            <img src="img/iconos/i-despues.png" alt="Despues de las elecciones" height="50px">
            <p>Despues Elecciones</p>
          </button>
        {{/link-to}}
      </div>
    </div>
    {{!-- Main info --}}
    {{outlet}}
    {{!-- Reportar --}}
    <div id="report" class="row bg-light">
      <div class="col-12 text-center">
        <h3>¿Presenciaste alguna irregularidad?</h3>
        <p>Cualquier ciudadano puede hacer una denuncia, si detectas algo ilegal denuncia en:</p>
      </div>
      <div class="col-12 text-center">
        <button class="btn btn-lg bg-white text-secondary">
          <img src="img/iconos/i-telefono.png" alt="Teléfono" height="30px" class="mx-2">
          2378-3900
        </button>
        <a href="http://www.tse.org.gt/" target="_blank">
          <button class="btn btn-lg bg-white text-secondary">
            <img src="img/iconos/i-contacto-tse.png" alt="Teléfono" height="30px" class="mx-2">
            tse.org.gt
          </button>
        </a>
      </div>
    </div>
    <div class="row bg-white">
      <div class="col-12 d-block d-md-flex text-center">
        <a href="https://ciudadanointeligente.org/" target="_blank" class="my-auto mx-auto mx-md-0 mr-md-4 ml-md-auto">
          <img src="img/logo-ciudadano-inteligente.png" alt="Ciudadano Inteligente" width="200px">
        </a>
        <a href="http://www.tse.org.gt/" target="_blank" class="my-auto mx-auto mx-md-0 ml-md-4 mr-md-auto">
          <img src="img/logo-tse.png" alt="Tribunal Supremo Electoral" width="100px" class="mt-5">
        </a>
      </div>
    </div>
</div>