{{!-- Slider --}}
{{!-- En pantalla pequeña --}}
<div id="slider" style="background-image: url('img/slider-se-phone.jpg'); background-size: cover;" class="d-block d-sm-none text-center">
  <h2 class="font-weight-bold">Semáforo electoral 2018</h2>
  <p>¡Limpiemos nuestra democracia desde las elecciones!¡Por candidatos y candidatas que respeten la ley!¡Fiscalicemos juntos las campañas electorales!</p>
</div>
{{!-- En pantalla grande --}}
<div id="slider" style="background-image: url('img/slider-se.jpg'); background-size: cover;" class="d-none d-sm-block">
  <h2 class="font-weight-bold">Semáforo electoral 2018</h2>
  <p class="w-50">¡Limpiemos nuestra democracia desde las elecciones!¡Por candidatos y candidatas que respeten la ley! ¡Fiscalicemos juntos las campañas electorales!</p>
</div>

<div class="container-fluid">

    {{!-- Se parte del semáforo electoral --}}
    <div class="row bg-primary text-white justify-content-center text-center">
        <div class="col-12 col-md-8">
            <h4 class="font-weight-bold">¡Sé parte del semáforo electoral!</h4>
            <h5 class="font-weight-light">
              La transparencia en nuestras elecciones es la base de la calidad de nuestra democracia. En semáforo electoral damos luz verde a la buena democracia e invitamos a frenar las irregularidades a través de denuncias ciudadanas.
            </h5>
        </div>
        <div class="col-12 text-center">
            <a href="/#report"><button class="btn btn-warning text-white my-3 px-4">¿Cómo denunciar?</button></a>
        </div>
        <div id="reset-scroll"></div>
    </div>

    {{!-- Tab-pdd --}}
    <div id="tab-pdd" class="row bg-light tab-pdd text-center">
      <div class="col-12 col-md-4 p-0 py-md-2">
        <a href="/#reset-scroll" class="click-reset">
          <button class="btn bg-white wrap-inherit previo my-3">
            <img src="img/iconos/i-previo.png" alt="Previo al fin de inscripción de candidatos" height="50px" class="color">
            <img src="img/iconos/i-previo-blanco.png" alt="Previo al fin de inscripción de candidatos" height="50px" class="white d-none">
            <p class="d-md-block">Previo al fin de inscripción de candidatos</p>
          </button>
        </a>
      </div>

      <div class="col-12 col-md-4 p-0 py-md-2">
        <a href="#/durante" class="click-reset">
          <button class="btn bg-white wrap-inherit durante my-3">
            <img src="img/iconos/i-durante.png" alt="Durante las elecciones" height="50px" class="color">
            <img src="img/iconos/i-durante-blanco.png" alt="Durante las elecciones" height="50px" class="white d-none">
            <p class="d-md-block">Durante Convocatoria</p>
          </button>
        </a>
      </div>

      <div class="col-12 col-md-4 p-0 py-md-2">
        <a href="#/despues" class="click-reset">
          <button class="btn bg-white wrap-inherit despues my-3">
            <img src="img/iconos/i-despues.png" alt="Después de las elecciones" height="50px" class="color">
            <img src="img/iconos/i-despues-blanco.png" alt="Después de las elecciones" height="50px" class="white d-none">
            <p class="d-md-block">Después Elecciones</p>
          </button>
        </a>
      </div>
    </div>

    {{!-- Main info --}}
    <div class="content">
    {{outlet}}
    </div>

    {{!-- Reportar --}}
    <div id="report" class="row bg-light">
      <div class="col-12 text-center py-5 mt-5 m-md-auto p-md-auto">
        <h2>¿Presenciaste alguna irregularidad?</h2>
        <p>Cualquier ciudadano puede hacer una denuncia, si detectas algo ilegal denuncia en:</p>
      </div>
      <div class="col-12 text-center">
        <button class="btn btn-lg bg-white text-secondary">
          <img src="img/iconos/i-telefono.png" alt="Teléfono" height="30px" class="mx-2">
          2378-3900
        </button>
        <a href="http://www.tse.org.gt/" target="_blank">
          <button class="btn btn-lg bg-white text-secondary">
            <img src="img/iconos/i-contacto-tse.png" alt="Teléfono" height="30px" class="mx-2">
            tse.org.gt
          </button>
        </a>
      </div>
    </div>

    {{!-- Ciudadano Inteligente & TSE --}}
    <div class="row bg-white text-center colaboradores">
      <div class="col-12 text-center">
        <h6 class="font-weight-light my-5">Un proyecto de:</h6>
        <a href="https://ciudadanointeligente.org/" target="_blank" class="my-auto mx-auto">
          <img src="img/logo-ciudadano-inteligente.png" alt="Ciudadano Inteligente" height="70px">
        </a>
        <a href="http://www.redciudadana.org/" target="_blank" rel="noopener noreferrer external author" class="my-auto mx-auto mx-md-0 ml-md-4 mr-md-auto">
          <img class="logo" src="img/logo-red.png" alt="Red Ciudadana" title="Red Ciudadana" height="80px">
        </a>
      </div>
    </div>
</div>

<script>
  // Se executa cuando el usuario mueve el 'scroll'
  window.onscroll = function() {setSticky()};

  // Obtener tab-pdd
  var header = document.getElementById("tab-pdd");
  // Obtener posición de tab-pdd
  var sticky = header.offsetTop - 130;

  // Agregar y quitar clase 'sticky' según el scroll
  function setSticky() {
    // Obtener posición sección de reportes
    var report = document.getElementById("report").offsetTop - document.getElementById('tab-pdd').clientHeight;

    if (window.pageYOffset > sticky) {
      // Cuando ya llego a la posición de tab-pdd
      header.classList.add("sticky");
    } else {
      // Antes de la posición de tab-pdd
      header.classList.remove("sticky");
    }

    // Eliminar cuando llega a la posición de reportes
    if(window.pageYOffset > report) {
      header.classList.remove("sticky");
    }
  }

  // Agregar evento a los botones de tab-pdd
  var clickElements = document.getElementsByClassName('click-reset');
  Array.from(clickElements).toArray().forEach((element) => {
    element.addEventListener('click', () => {
      var elmnt = document.getElementById("reset-scroll");
      elmnt.scrollIntoView();
    });
  });

</script>
