{{!-- Slider --}}
{{!-- En pantalla pequeña --}}
<div id="slider" style="background-image: url('img/slider-se-phone.jpg'); background-size: cover;" class="d-block d-sm-none text-center">
  <h2 class="font-weight-bold">Material</h2>
</div>

{{!-- En pantalla grande --}}
<div  style="background-image: url('img/SLIDER-35.png'); background-size: cover; padding: 150px 0!important" class="d-none d-sm-block">
  <div class="container">
    <h2 class="font-weight-bold">Material</h2>
  </div>
</div>

<div class="bg-light">
    <div class="container">
        {{!-- Reportar --}}
        <div id="report" class="row bg-light">
        <div class="col-12 text-center py-5 mt-5 m-md-auto p-md-auto">
            <h2>¿Presenciaste alguna irregularidad?</h2>
            <p>Cualquier ciudadano puede hacer una denuncia, si detectas algo ilegal denuncia en:</p>
        </div>
        <div class="col-12 text-center">
            <a href="tel:+50223783900">
            <button class="btn btn-lg bg-white text-secondary">
                <img src="img/iconos/i-telefono.png" alt="Teléfono" height="30px" class="mx-2">
                2378-3900
            </button>
            </a>
            <a href="http://www.tse.org.gt/" target="_blank">
            <button class="btn btn-lg bg-white text-secondary">
                <img src="img/iconos/i-contacto-tse.png" alt="Teléfono" height="30px" class="mx-2">
                tse.org.gt
            </button>
            </a>
        </div>
        </div>
    </div>
</div>
<div class="container">
    {{!-- Ciudadano Inteligente & TSE --}}
    <div class="row bg-white text-center colaboradores">
      <div class="col-12 text-center">
        <h6 class="font-weight-light my-5">Un proyecto de:</h6>
        <a href="https://ciudadanointeligente.org/" target="_blank" class="my-auto mx-auto">
          <img src="img/LOGOS-36.png" alt="Ciudadano Inteligente" style="height:60px!important">
        </a>
        <a href="http://www.redciudadana.org/" target="_blank" rel="noopener noreferrer external author" class="my-auto mx-auto mx-md-0 ml-md-4 mr-md-auto">
          <img class="logo" src="img/LOGO-RED_NEGRO.png" alt="Red Ciudadana" title="Red Ciudadana" style="height:60px!important">
        </a>
      </div>
    </div>
</div>