{{#bs-navbar
  class="py-4"
  backgroundColor="white"
  type="light"
  position="sticky-top"
  fluid=false
as |navbar|
}}
  <div class="navbar-header d-flex">
    {{navbar.toggle}}

    {{#link-to "application" class="navbar-brand"}}
      <img
        src="logo-brand.png"
        class="img-responsive"
        title={{nombreApp}}
        alt="Semaforo Electoral"
        height="45"
      >
    {{/link-to}}

    {{#link-to "application" class="navbar-brand"}}
      <img
        src="img/LOGO-RED_NEGRO.png"
        class="img-responsive resize"
        title={{nombreApp}}
        alt="Red Ciudadana"
        height="45"
      >
    {{/link-to}}
  </div>

  {{#navbar.content}}
    {{#navbar.nav justified=true type="pills" class="ml-auto" as |nav|}}
      {{#nav.item active=false class="mx-3 red"}}
        <a href="#report">¿Cómo denunciar?</a>
      {{/nav.item}}
      {{#nav.item active=false class="mx-3 green"}}
        <a href="#tab-pdd">Periodos</a>
      {{/nav.item}}
      {{#nav.item active=false class="mx-3 yellow"}}
        <a href="https://github.com/RedCiudadana/PublicacionesRC/raw/main/Leyes%20y%20acuerdos/Ley%20Electoral%20y%20de%20Partidos%20Pol%C3%ADticos%20LEPP.pdf">LEPP</a>
      {{/nav.item}}
      {{#nav.item}}
        <!--a href="https://www.tse.org.gt/index.php/comunicacion/publicaciones/op-resoluciones-2023">Reportes</a-->
      {{/nav.item}}
      {{#nav.item active=false class="mx-3 ml-5 social"}}
        <a href="https://www.instagram.com/redxguate/" target="_blank">
          <i class="fa-brands fa-instagram" alt="RedCiudadanaGt" height="30px" width="30px"></i>
        </a>
        <a href="https://twitter.com/RedxGuate" target="_blank">
          <i class="fa-brands fa-twitter" alt="RedCiudadanaGt" height="30px" width="30px"></i>
        </a>
        <a href="https://www.facebook.com/Redciudadanagt/" target="_blank">
          <i class="fa-brands fa-facebook-f" alt="RedCiudadanaGt" height="30px" width="30px"></i>
        </a>
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
