{{#bs-navbar
  class="py-4"
  backgroundColor="white"
  type="light"
  position="sticky-top"
  fluid=false
as |navbar|
}}
  <div class="navbar-header">
    {{navbar.toggle}}

    {{#link-to "application" class="navbar-brand"}}
      <img
        src="logo-brand.png"
        class="img-responsive"
        title={{nombreApp}}
        alt="Semaforo Electoral"
        height="45"
      >
    {{/link-to}}
  </div>

  {{#navbar.content}}
    {{#navbar.nav justified=true type="pills" class="ml-auto" as |nav|}}
      {{#nav.item active=false class="mx-5 red"}}
        <a href="#report">¿Cómo denunciar?</a>
      {{/nav.item}}
      {{#nav.item active=false class="mx-5 green"}}
        <a href="#">Periodos</a>
      {{/nav.item}}
      {{#nav.item active=false class="mx-5 yellow"}}
        {{link-to "Metodología" "application"}}
      {{/nav.item}}
      {{#nav.item active=false class="mx-4 social"}}
        <a href="https://www.facebook.com/Redciudadanagt/" target="_blank">
          <img src="img/iconos/FB.png" alt="RedCiudadanaGt" height="30px" width="30px">
        </a>
      {{/nav.item}}
      {{#nav.item active=false class="mx-4 social"}}
        <a href="https://twitter.com/RedxGuate" target="_blank">
          <img src="img/iconos/TW.png" alt="RedXGuate" height="30px" width="30px">
        </a>
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
